.center {
    text-align: center;
    justify-content: center;
}

table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 50px;
  }
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #cec112ad; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }